# Lecture 3: Iterable Objects or Containers

### <left> <b> <span style="color:brown;"> Objective: </span> </b></left>

This lecture aims to present `iterable objects` and `containers`, focusing on `lists`, `tuples`, `dictionaries`, and `sets`. We will review some of the most commonly encountered operations with these data structures, particularly in data organization and retrieval tasks. Additionally, we will explore how to use `lists`, `tuples`, `dictionaries`, and `sets` to efficiently store and manage collections of data.
****

As mentioned in previous sections, a Python program always operates based on the manipulation of objects. The instructions (whether defined in a free code, within an if clause, or in a while or for loop) are always executed on objects. Variables, as previously discussed, represent a particular type of Python object. In general, instructions in a Python program are defined from a collection of objects that come in various forms of value sequences. This sequence of values can, for example, consist of a set of variables with a single value. This ultimately means that a variable defined by a single value is generally not sufficient to form the architecture of a program. In the Python language, we have:

   - A **list** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **square brackets**, separated by commas. Example:
      ```python
         x = [1, 5, 8, 10, 4, 50, 8] # List consisting only of numbers
         y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
         z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.
       
      ```
     A list object can be generated manually by specifying the values within square brackets or automatically using the `list()` function.
      ```python
        x = list(range(1, 10))
        print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]
     ```
   - A **tuple** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **parentheses**, separated by commas. Example:
      ```python
         x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
         y = ("Olivier", "ENGEL", "Strasbourg") # Tuple consisting only of characters
         z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg") # Tuple consisting of both numbers and characters.
       
      ```
     A tuple object can be generated manually by specifying the values within parentheses or automatically using the `tuple()` function.
      ```python
        x = tuple(range(1, 10))
        print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)
     ```
     
   - A **set** object is a sequence of values (numerical and/or characters) that are **non-duplicated** and **non-indexed**, and specified within **curly braces**, separated by commas. Example:
      ```python
         x = {1, 5, 8, 10, 4, 50, 8} # Set consisting only of numbers
         y = {"Olivier", "ENGEL", "Strasbourg"} # Set consisting only of characters
         z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"} # Set consisting of both numbers and characters.
       
      ```
     A set object can be generated manually by specifying the values within curly braces or automatically using the `set()` function.
      ```python
         v = [2, 4, "orange", "meat", 4, "orange"]
         V = set(v)
         print(V) # returns {2, 'orange', 4, 'meat'}
      
      ```
   - A **dictionary** object is a sequence of values (numerical and/or characters) that are **indexed** by keys and specified within **curly braces**, separated by commas. Each `key` corresponds to one or more `values`. A dictionary consists of a set of `key-value` pairs. Example:   
      ```python
         x = {'name': 'Jean', 'weight': 70, 'height': 1.75} # Keys with unique values.
         y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]} # Key with multiple values formed by a list
      
      ```
   In the dictionary `x`, the keys are name, weight, and height. The values corresponding to each of these keys are Jean, 70, and 1.75, respectively.
In the dictionary `y`, the keys are Jean, Paul, and Pierre, while the values are lists consisting of three elements (age, weight, and height).
A dictionary object can be generated manually by specifying the values within curly braces or automatically using the `dict()` function to create an empty dictionary. We will delve more into the definition of dictionaries later.

The four objects we have just mentioned are also what we call `containers` simply because they `can contain` something. Thus, strings, lists, tuples, and dictionaries are the basic iterable objects in Python. Lists and dictionaries are mutable – their elements can be changed on the fly – while strings and tuples are immutable.

The following three objects we mention are not iterable, but we will study them in more detail later on.

   - A **function** object is a program designed to perform a specific operation. For example, the `print()` function is used to display the result of the instruction provided to it on the screen;
   - A **class** object is a collection of functions, that is, an association of related functions;
   - A **module** object is a collection of classes, that is, a collection of related classes."

In [142]:
x = [1, 5, 8, 10, 4, 50, 8] # List consisting only of numbers
y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.

In [143]:
x = list(range(10, -6, -2)) # Interessting

In [144]:
x = list(range(-7, 10, 3)) # Interessting 
print(x)

[-7, -4, -1, 2, 5, 8]

In [145]:
x = list(range(-78, 10, 3)) # Interessting 
print(x)

[-78, -75, -72, -69, -66, -63, -60, -57, -54, -51, -48, -45, -42, -39, -36, -33, -30, -27, -24, -21, -18, -15, -12, -9, -6, -3, 0, 3, 6, 9]

In [146]:
print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]

[-78, -75, -72, -69, -66, -63, -60, -57, -54, -51, -48, -45, -42, -39, -36, -33, -30, -27, -24, -21, -18, -15, -12, -9, -6, -3, 0, 3, 6, 9]

In [147]:
x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
y = ("Olivier", "ENGEL", "Strasbourg") # Tuple consisting only of characters
z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg") # Tuple consisting of both numbers and characters.

In [148]:
x = tuple(range(1, 10))
print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [149]:
x = tuple(range(-10, 20, 3)) # Interesting 
print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)

(-10, -7, -4, -1, 2, 5, 8, 11, 14, 17)

In [150]:
x = tuple(range(-10, 20, -3)) # Interesting 
print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)

()

In [151]:
x = tuple(range(1, 10))
print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [152]:
x = {1, 5, 8, 10, 4, 50, 8} # Set consisting only of numbers
y = {"Olivier", "ENGEL", "Strasbourg"} # Set consisting only of characters
z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"} # Set consisting of both numbers and characters.

In [153]:
v = [2, 4, "orange", "meat", 4, "orange"]
V = set(v)

In [154]:
print(V) # returns {2, 'orange', 4, 'meat'}

{'meat', 2, 4, 'orange'}

In [155]:
x = {'name': 'Jean', 'weight': 70, 'height': 1.75} # Keys with unique values.
y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]} # Key with multiple values formed by a list

In [156]:
print(x, y)

{'name': 'Jean', 'weight': 70, 'height': 1.75} {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [157]:
print(x)
print(y)

{'name': 'Jean', 'weight': 70, 'height': 1.75}
{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [158]:
len(y)
x.keys

In [159]:
print(x.keys())
x.values()
print(x.values())
print(x.keys())

dict_keys(['name', 'weight', 'height'])
dict_values(['Jean', 70, 1.75])
dict_keys(['name', 'weight', 'height'])

In [160]:
type(x.values())

dict_values

In [161]:
type(x.keys())

dict_keys

In [162]:
print(" First element", x )

 First element {'name': 'Jean', 'weight': 70, 'height': 1.75}

In [163]:
1 == 1

True

In [164]:
a = int(2)
print(a)

2

In [165]:
[chr(i) for i in range(97, 102)]

['a', 'b', 'c', 'd', 'e']

In [166]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [167]:
?chr

In [168]:
[chr(i) for i in range(0, 300)]

['\x00',
 '\x01',
 '\x02',
 '\x03',
 '\x04',
 '\x05',
 '\x06',
 '\x07',
 '\x08',
 '\t',
 '\n',
 '\x0b',
 '\x0c',
 '\r',
 '\x0e',
 '\x0f',
 '\x10',
 '\x11',
 '\x12',
 '\x13',
 '\x14',
 '\x15',
 '\x16',
 '\x17',
 '\x18',
 '\x19',
 '\x1a',
 '\x1b',
 '\x1c',
 '\x1d',
 '\x1e',
 '\x1f',
 ' ',
 '!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '{',
 '|',
 '}',
 '~',
 '\x7f',
 '\x80',
 '\x81',
 '\x82',
 '\x83',
 '\x84',
 '\x85',
 '\x86',
 '\x87',
 '\x88',
 '\x89',
 '\x8a',
 '\x8b',
 '\x8c',
 '\x8d',
 '\x8e',
 '\x8f',
 '\x90',
 '\x91',
 '\x92',
 '\x93',
 '\x94',
 '\x95',
 '\x96',
 '\x97',
 '\x98',
 '\x99',
 '\x9a',
 '\x9b',
 '\x9c',
 '\x9d',
 '\x9e',
 '\x9f',
 '\xa0',
 '¡',
 '¢',
 '£',
 '¤',
 '¥',
 '¦',
 '§',
 '¨',
 '©',
 'ª',
 '«',
 '¬',
 '\xad',
 '®',
 '¯',
 '°',
 '±',
 '²',
 '³',
 '´',
 'µ',
 '¶',
 '·',
 '¸',
 '¹',
 'º',
 '»',
 '¼',
 '½',
 '¾',
 '¿',
 'À',
 'Á',
 'Â',
 'Ã',
 'Ä',
 'Å',
 'Æ',
 'Ç',
 'È',
 'É',
 'Ê',
 'Ë',
 'Ì',
 'Í',
 'Î',
 'Ï',
 'Ð',
 'Ñ',
 'Ò',
 'Ó',
 'Ô',
 'Õ',
 'Ö',
 '×',
 'Ø',
 'Ù',
 'Ú',
 'Û',
 'Ü',
 'Ý',
 'Þ',
 'ß',
 'à',
 'á',
 'â',
 'ã',
 'ä',
 'å',
 'æ',
 'ç',
 'è',
 'é',
 'ê',
 'ë',
 'ì',
 'í',
 'î',
 'ï',
 'ð',
 'ñ',
 'ò',
 'ó',
 'ô',
 'õ',
 'ö',
 '÷',
 'ø',
 'ù',
 'ú',
 'û',
 'ü',
 'ý',
 'þ',
 'ÿ',
 'Ā',
 'ā',
 'Ă',
 'ă',
 'Ą',
 'ą',
 'Ć',
 'ć',
 'Ĉ',
 'ĉ',
 'Ċ',
 'ċ',
 'Č',
 'č',
 'Ď',
 'ď',
 'Đ',
 'đ',
 'Ē',
 'ē',
 'Ĕ',
 'ĕ',
 'Ė',
 'ė',
 'Ę',
 'ę',
 'Ě',
 'ě',
 'Ĝ',
 'ĝ',
 'Ğ',
 'ğ',
 'Ġ',
 'ġ',
 'Ģ',
 'ģ',
 'Ĥ',
 'ĥ',
 'Ħ',
 'ħ',
 'Ĩ',
 'ĩ',
 'Ī',
 'ī']

In [169]:
chr(300)

'Ĭ'

In [170]:
[chr(i) for i in range(97, 120)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w']

In [171]:
print("My name is : ", chr(97) + chr(98) + chr(100) + chr(101) + chr(108) )

My name is :  abdel

## 0. Lists


### 0.0. Definition of a list object

A list object can be declared and defined manually or by using the `list()` function. There are two categories of lists: one-dimensional lists (or simple lists) and multi-dimensional lists.

- A simple list is a list whose elements consist of unique values separated by commas.

In [172]:
voltage = [-2.0, -1.0, 0.0, 1.0, 2.0]

In [173]:
courant = [-1.0, -0.5, 0.0, 0.5, 1.0]

In [174]:
print(voltage)
print("============================= \n")
print(courant)

[-2.0, -1.0, 0.0, 1.0, 2.0]
=============================

[-1.0, -0.5, 0.0, 0.5, 1.0]

In [175]:
type(voltage) # Returns the type of the variable 'courant'

list

In [176]:
type(courant)

list

In [177]:
help(voltage.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

Moreover, in some situations, you may first create an empty list which will later be filled with values using the `append()` function. To create an empty list, you can use:
`x = list()` or `x = []`.

- Unlike a simple list, a multi-dimensional list is a list where the individual elements consist of multiple values. In general, a multi-dimensional list is presented as a list of lists.

In [178]:
x = [[1,2,3],[2,3,4],[3,4,5]] # liste à deux dimensions (liste de listes)

y = [[[1,2],[2,3]],[[4,5],[5,6]]] # liste à trois dimensions (liste de listes de listes)

x,y

([[1, 2, 3], [2, 3, 4], [3, 4, 5]], [[[1, 2], [2, 3]], [[4, 5], [5, 6]]])

In [179]:
# len(x), len(y)
# x[0] #to have the first 
# x[1] #to have the second 
x[2] #to have ...

[3, 4, 5]

In [180]:
x[0][0] # Pour acceder a la matrice

1

In [181]:
len(y)
y[0]
y[0][0][0] # to have acces ton one element

1

In [182]:
y[0][0][-2]

1

Since a list is a sequence of indexed values, you can access each value or groups of values by specifying their index:

In [183]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x) # Displays all the elements of the list x

['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']

In [184]:
print(x[0]) # Returns the first element of x: 'Monday' (Note: indexing starts at 0)
print("================================================")
print('\t')

Monday
================================================

In [185]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x[3]) # Returns the element at index 3 (fourth element of x): 1800
print("================================================")
print('\t')

1800
================================================

In [186]:
print(x[1:3]) # Returns all elements between index 1 and index 3 (Note: element at index 3 is excluded)
print("================================================")
print('\t')

['Tuesday', 'Wednesday']
================================================

In [187]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x[1:6:2]) # Returns all elements between index 1 and index 6 with a step of 2 elements each time ['Tuesday', 1800, 'Thursday'] (element at index 6 is excluded).
print("================================================")
print('\t')

['Tuesday', 1800, 'Thursday']
================================================

In [188]:
print(x[2:]) # Returns all elements starting from index 2 (inclusive).
print("================================================")
print('\t')

['Wednesday', 1800, 20.357, 'Thursday', 'Friday']
================================================

In [189]:
print(x[:3]) # Returns all elements up to but not including index 3
print("================================================")
print('\t')

['Monday', 'Tuesday', 'Wednesday']
================================================

In [190]:
print(x[-1]) # Negative indexing, returns the last element of the list (equivalent to x[6])
print("================================================")
print('\t')

Friday
================================================

In [191]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x[-2]) # Negative indexing, returns the second to last element of the list (equivalent to x[5])
print("================================================")
print('\t')

Thursday
================================================

In [192]:
print(x[::2]) # Iterates through all elements between index 0 and the last index, returning every second element ['Monday', 'Wednesday', 20.357, 'Friday'].
print("================================================")
print('\t') # En renvoie toute la liste mais en faisant un saut de 2

['Monday', 'Wednesday', 20.357, 'Friday']
================================================

In [193]:
print(x[::-1])

['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday']

In [194]:
# Returns a list containing all elements of x, rearranged from the last element to the first. This is a reverse of x. Returns ['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday'].
# The same result can be obtained by using x.reverse()
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list

In [195]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
x.reverse()
print(x)

['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday']

In [196]:
x_rev = x.reverse()
x_rev
print(x_rev)

None

With a multi-dimensional list, indexing is done at multiple levels. For example

In [197]:
x = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
print(x)
print("================================================")
print('\t')

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]
================================================

In [198]:
len(x[0])
for i in x:
    for j in i:
        print(j)

1
2
3
2
3
4
3
4
5

In [199]:
print(x[0]) # Returns the first sublist [1, 2, 3]
print("================================================")
print('\t')

[1, 2, 3]
================================================

In [200]:
print(x[0][0]) # Returns the first element of the first sublist, which is 1
print("================================================")
print('\t')

1
================================================

In [201]:
print(x[2]) # Returns the third sublist [3, 4, 5]
print("================================================")
print('\t')

[3, 4, 5]
================================================

In [202]:
print(x[2]) # Returns the third sublist [3, 4, 5]
print("================================================")
print('\t')

[3, 4, 5]
================================================

In [203]:
print(x[2][1]) # Returns the element at index 1 of the third sublist, which is 4
print("================================================")
print('\t')

4
================================================

In [204]:
print(x[1:]) # Returns all sublists starting from index 1: [[2, 3, 4], [3, 4, 5]]
print("================================================")
print('\t')

[[2, 3, 4], [3, 4, 5]]
================================================

In [205]:
print(x[1:][0]) # Returns the first sublist from the sliced list: [2, 3, 4]
print("================================================")
print('\t')

[2, 3, 4]
================================================

In [206]:
print(x[-1]) # Returns the last sublist [3, 4, 5]
print("================================================")
print('\t')

[3, 4, 5]
================================================

In [207]:
print(x)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [208]:
print(x[1][:2]) # Returns the first two elements of the second sublist: [2, 3]

[2, 3]

In [209]:
print("================================================")

================================================

In [210]:
print('\t')

In [211]:
print(x[1][1:]) # Returns elements from index 1 to the end of the second sublist: [3, 4]

[3, 4]

### 0.1. The `range()` Function

Value sequences are variables that are frequently encountered in Python programs. They represent a set of successive and ordered values that can be extracted like a list. Value sequences are generated using the `range()` function.

The function has the following syntax:

```python
range(start, stop, step)
```

 - start (optional): The value of the first number in the sequence. If omitted, the sequence starts from 0.
 - stop: The end of the sequence. This value is not included in the sequence.
 - step (optional): The difference between each pair of consecutive values in the sequence. If omitted, the default step is 1.

Example:

In [212]:
x = range(10) # Creates a sequence of integer values from 0 to 9
print(x)

range(0, 10)

In [213]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [214]:
print(x)
print("================================================")
print('\t')

range(0, 10)
================================================

In [215]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [216]:
x = range(2, 10) # Creates a sequence of integer values from 2 to 9
print(x)
print("================================================")
print('\t')

range(2, 10)
================================================

In [217]:
list(x)

[2, 3, 4, 5, 6, 7, 8, 9]

In [218]:
x = range(1, 10, 2) # Creates a sequence of integer values from 1 to 9 with a step of 2. It returns 1, 3, 5, 7, and 9
print(x)

range(1, 10, 2)

In [219]:
list(x)

[1, 3, 5, 7, 9]

In [220]:
# To display the generated values, you can use the `list()` function, as shown below:

In [221]:
x = range(10)

In [222]:
print(list(x)) # Returns a list: values in square brackets [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 0.2. Operations on Lists

Once a list is defined, several operations can be performed to modify its structure or its elements.

- To find the number of elements in a list, we use the `len()` function. Example: consider the list `x` defined as follows:
```python
   x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
```
To find the length of `x` (the number of elements in `x`), we do:
```python
    print(len(x)) # returns 7
```

In [223]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
print(len(x)) # returns 7

7

- We can concatenate two lists to form a single list using the `+` operator, which allows for list concatenation:
```python
   x = ['giraffe', 'tiger']
   y = ['monkey', 'mouse']
   z = x + y
   print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']
```

In [224]:
x = ['giraffe', 'tiger']
y = ['monkey', 'mouse']
z = x + y
print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']
print(y+x) # Return The Sum of the list by order

['giraffe', 'tiger', 'monkey', 'mouse']
['monkey', 'mouse', 'giraffe', 'tiger']

- We can repeat the elements of a list using the multiplication operator `*`:
```python
    x = ['giraffe', 24, 18, 'tiger', 2400, 150]
    y = x * 3
    print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]
```

In [225]:
x = ['giraffe', 24, 18, 'tiger', 2400, 150]
y = x * 3 # This operation reproduce The same list by order three times
print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18,
         # 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

In [226]:
len(x) == len(y)/3

True

- It is possible to modify a particular element in a list by using its index:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
    x[3] = x[3] + 100
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
    
    x[6] = x[6] + ' Saint' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']
```

In [227]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday'] # Here we localize The ellemnt number 3, for in the list because we start at 0
# After we do the sum and the value 1800 + 100 = 1900
x[3] = x[3] + 100
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
x[3] == 1900

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']

True

In [228]:
print("==================================================================\n")
x[6] = x[6] + ' Saint Joie Amour' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

==================================================================

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint Joie Amour']

- New elements can be added in addition to the initial elements. For this, we use the `append()` function:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.append('Saturday')
    x.append('Sunday')
    print(x)
```

In [229]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [230]:
x.append('Saturday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [231]:
x.append('Sunday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [232]:
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

As we can see, the `append()` function can only add one element to a list at a time. Therefore, we can use the `extend()` function when we want to add multiple elements at once. Example:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.extend(['Saturday', 'Sunday'])
    print(x)
```

In [233]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.extend(['Saturday', 'Sunday'])
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [234]:
x.extend(['Amir','Alpha'])
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Amir', 'Alpha']

****
For further study, explore the following methods and how they operate on lists:
`insert()`, `remove()`, `delete()`, `index()`, `count()`, `join()`, `zip()`.
***

In [235]:
# I must check all this Function insert(), remove(), delete(), index(), count(), join(), zip()

In [236]:
# 1. insert()
# Crée une liste de base
ma_liste = [1, 2, 3]

# Insère l'élément 4 à l'indice 1
ma_liste.insert(1, 4)

# Insère l'élément 4 à l'indice 6 mais comme l indice 6 existe pas on le met a la fin 
ma_liste.insert(6, 4)

# Affiche la liste modifiée
print(ma_liste)  # Résultat: [1, 4, 2, 3]

[1, 4, 2, 3, 4]

In [237]:
# 2. remove()
# Crée une liste de base
ma_liste = [1, 2, 3, 4 , 2, 2, 2, 2, 2, 2, 2, 2]

# Supprime le premier élément égal à 2
ma_liste.remove(2)

# I dont find python Method to remove for exemple all 2 but i don't find . 
# We can use foor loop or while 

# Affiche la liste après suppression
print(ma_liste)  # Résultat: [1, 3, 2]

[1, 3, 4, 2, 2, 2, 2, 2, 2, 2, 2]

In [238]:
# 3. del
# Crée une liste de base
ma_liste = [1, 2, 3]

In [239]:
# Supprime l'élément à l'indice 1 (le 2)
del ma_liste[1]

In [240]:
# Affiche la liste après suppression
print(ma_liste)  # Résultat: [1, 3]

[1, 3]

In [241]:
# Pour supprimer toute la liste
del ma_liste
# print(ma_liste)  # Cette ligne entraînerait une erreur car la liste est supprimée

In [242]:
# 4. index()
# Crée une liste de base
ma_liste = [1, 2, 3, 2]

In [243]:
# Trouve l'indice du premier élément égal à 2
indice = ma_liste.index(1)

In [244]:
# Affiche l'indice trouvé
print(indice)  # Résultat: 1

0

In [245]:
# 5. count()
# Crée une liste de base
ma_liste = [1, 2, 3, 2, 2]

In [246]:
# Compte combien de fois l'élément 2 apparaît dans la liste
nombre = ma_liste.count(2)

In [247]:
# Affiche le nombre d'occurrences
print(nombre)  # Résultat: 3

3

In [248]:
# 5. count()
# Crée une liste de base
ma_liste = [1, 2, 3, 2, 2, 2.0, 2.0] # Si on ajoute 2.0 aussi il est compter 
# Compte combien de fois l'élément 2 apparaît dans la liste
nombre = ma_liste.count(2)
# Affiche le nombre d'occurrences
print(nombre)  # Résultat: 3

5

In [249]:
# 6. join()
# Crée une liste de chaînes de caractères
ma_liste = ['Bonjour', 'tout', 'le', 'monde']

# Joint les éléments de la liste avec un espace entre chaque élément
resultat = ' '.join(ma_liste)

# Affiche la chaîne résultante
print(resultat)  # Résultat: "Bonjour tout le monde"

Bonjour tout le monde

In [250]:
# 6. join()
# Crée une liste de chaînes de caractères
ma_liste = ['Bonjour', 'tout', 'le', 'monde']

# Joint les éléments de la liste avec un espace entre chaque élément
resultat = ' @ '.join(ma_liste)

# Affiche la chaîne résultante
print(resultat)  # Résultat: "Bonjour tout le monde"

Bonjour @ tout @ le @ monde

In [251]:
# 7. zip()
# Crée deux listes
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

In [252]:
# Combine les deux listes en une liste de tuples
resultat = list(zip(list1, list2))

In [253]:
# Affiche la liste résultante
print(resultat)  # Résultat: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [254]:
# 7. zip()
# Crée deux listes
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'f']
# La fonction marche meme si les deux liste  n ont pas la meme taille 
# LA fonction s arrete a en fonction de la taille de la plus petite 

# Combine les deux listes en une liste de tuples
resultat = list(zip(list1, list2))

# Affiche la liste résultante
print(resultat)  # Résultat: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'f')]

### Mylist:

In [255]:
mylist=[5,8,"abc"]

In [256]:
print(len(mylist))

3

In [257]:
print(mylist[2])

abc

In [258]:
mylist[2]=mylist[2]+(" def")
print(mylist)

[5, 8, 'abc def']

In [259]:
mylist.append("Aims")
print(mylist)

[5, 8, 'abc def', 'Aims']

In [260]:
mylist.extend(["Amir", "Youssouf"])
print(mylist)

[5, 8, 'abc def', 'Aims', 'Amir', 'Youssouf']

In [261]:
print(mylist)

[5, 8, 'abc def', 'Aims', 'Amir', 'Youssouf']

In [262]:
print(help(mylist.insert))
mylist.insert(1,"df")
print(mylist)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

None
[5, 'df', 8, 'abc def', 'Aims', 'Amir', 'Youssouf']

In [263]:
#print(help(mylist.zip))

In [264]:
print(mylist)
print(help(mylist.count))
print(mylist.count("Aims"))

[5, 'df', 8, 'abc def', 'Aims', 'Amir', 'Youssouf']
Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

None
1

In [265]:
# print(help(mylist.index))
print(mylist.index("Youssouf"))

6

<left> <b> <span style="color:brown;">Given that their usage is quite uncommon, we will not cover `tuple` and `set` objects in this course. The brief presentation given above is relatively sufficient, and readers who explicitly need more information can consult the extensive documentation available online. </span> </b></left>

However, we can mention that a `set` is an unordered iterable collection of distinct hashable elements and that classic mathematical operations on sets can be performed in Python. For example:

<center>
    <img src="images/set.png" width="20%></center>

```python
   X, Y = set('abcd'), set('sbds')
   print("X =", X) # X = {'a', 'c', 'b', 'd'}
   print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
    
   print('c' in X)  # True
   print('a' in Y)  # False
   print(X - Y)     # {'a', 'c'}
   print(Y - X)     # {'s'}
   print(X | Y)     # {'a', 'c', 'b', 'd', 's'}
   print(X & Y)     # {'b', 'd'}
```

In [266]:
X, Y = set('abcd'), set('sbds') # set is useful to create a set in python
print("X =", X) # X = {'a', 'c', 'b', 'd'}
print("=========================================\n")

X = {'b', 'd', 'a', 'c'}
=========================================

In [267]:
print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
print("=========================================\n")

Y = {'b', 's', 'd'}
=========================================

In [268]:
"amir" in " alphapalace amir" # To check if a part of string is one other string

True

In [269]:
print('c' in X)  # True
print("=========================================\n")

True
=========================================

In [270]:
print('a' in Y)  # False
print("=========================================\n")

False
=========================================

In [271]:
print(X - Y)     # {'a', 'c'}
print("=========================================\n")

{'c', 'a'}
=========================================

In [272]:
X, Y = set('abcdjh'), set('hsbdsfj') # set is useful to create a set in python
print("X =", X)
print("Y =", Y)
print(Y - X)     # {'s'} # Remove all element is in Y and X but we save element is only in Y without Y
print("=========================================\n")

X = {'j', 'b', 'c', 'h', 'a', 'd'}
Y = {'j', 'b', 's', 'h', 'f', 'd'}
{'f', 's'}
=========================================

In [273]:
print(X | Y)     # {'a', 'c', 'b', 'd', 's'} # We create a list of all element is the two list 

print("=========================================\n")

{'j', 'b', 'c', 'h', 's', 'f', 'a', 'd'}
=========================================

In [274]:
print(X & Y)     # {'b', 'd'}
# Create a new list like intersection

{'b', 'j', 'd', 'h'}

## 1. Dictionaries

### 1.0. About dictionaries

In Pythonic design, a dictionary (also called a map) is a versatile collection of objects that adheres to the `key-value` principle. Unlike lists, where elements are accessed by their position or index, dictionaries use unique keys to identify and retrieve values. These keys are typically strings but can also be other immutable types, such as numbers or tuples. This key-value structure allows for efficient lookups, additions, and deletions, making dictionaries a powerful tool for organizing and managing data in a more intuitive and flexible way compared to lists.

In [275]:
x = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
x.keys() # To get the Key of the Dictionnary

dict_keys(['name', 'age', 'weight', 'height'])

In [276]:
x.values() # To get the value of the dictionnary

dict_values(['Jean', 25, 70, 1.75])

In [277]:
x.items() # To display a example in the dictionnary

dict_items([('name', 'Jean'), ('age', 25), ('weight', 70), ('height', 1.75)])

In [278]:
print(x)

{'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}

In [279]:
y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
y

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [280]:
z = {'Jean': (25, 70, 1.75), 'Paul': (30, 65, 1.80), 'Pierre': (35, 75, 1.65)}
z

{'Jean': (25, 70, 1.75), 'Paul': (30, 65, 1.8), 'Pierre': (35, 75, 1.65)}

In [281]:
k = {'name': 'Jean', 'biometrics': [25, 70, 1.75], 'score': (12, 17, 15), 'rank': 25}
k

{'name': 'Jean',
 'biometrics': [25, 70, 1.75],
 'score': (12, 17, 15),
 'rank': 25}

The four variables above represent **four** typical ways to define a dictionary. Variable `x` is a dictionary where the keys are **name, age, weight, and height**. The corresponding values are **Jean, 25, 70**, and **1.75**. In the definition of `x`, it is noted that each key corresponds to a unique value. However, it is very common to associate multiple values with a single key. This is the case with dictionary `y`.

###  1.1. Operations on dictionaries

 - To access the elements of a dictionary, you use the keys. The method `keys()` returns the list of keys in the dictionary, and the method `values()` returns the values.
  ```python
     X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
     print(X.keys())  # returns ['name', 'age', 'weight', 'height']
     print(X.values()) # returns ['Jean', 25, 70, 1.75]   
     print(X['name'])  # returns 'Jean'   
     x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
     print(x['Jean']) # returns [25, 70, 1.75]
     print(x['Jean'][0]) # returns 25
     print(x['Jean'][0:2]) # returns [25, 70]   
  ```

In [282]:
X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
print("=========================================\n")

=========================================

In [283]:
print(X.keys())  # returns ['name', 'age', 'weight', 'height']
print("=========================================\n")

dict_keys(['name', 'age', 'weight', 'height'])
=========================================

In [284]:
print(X.values()) # returns ['Jean', 25, 70, 1.75]
print("=========================================\n")

dict_values(['Jean', 25, 70, 1.75])
=========================================

In [285]:
print(X['name'])  # returns 'Jean'
print("=========================================\n")

print(X['age'])  # returns 25
print("=========================================\n")

print(X['weight'])  # returns 70
print("=========================================\n")


print(X['height'])  # returns 1.75
print("=========================================\n")

Jean
=========================================

25
=========================================

70
=========================================

1.75
=========================================

In [286]:
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print("=========================================\n")

=========================================

In [287]:
print(x['Jean']) # returns [25, 70, 1.75]
print("=========================================\n")

print(x['Paul']) # returns [30, 65, 1.80]
print("=========================================\n")

print(x['Pierre']) # returns [35, 75, 1.65]
print("=========================================\n")

[25, 70, 1.75]
=========================================

[30, 65, 1.8]
=========================================

[35, 75, 1.65]
=========================================

In [288]:
print(x['Jean'][0]) # returns 25
print("=========================================\n")

25
=========================================

In [289]:
print(x['Pierre'][0:3]) # returns [35, 75, 1.65]
print("=========================================\n")

[35, 75, 1.65]
=========================================

In [290]:
print(x['Jean'][0:2]) # returns [25, 70]

[25, 70]

- Adding or modifying keys or values: You can modify a dictionary by either changing existing keys and values or by adding new ones. You can also remove values as well as keys.

```python
  x = {} # Creates an empty dictionary. You could also use x = dict()
  x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
  x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
  x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
  x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)

  Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
  del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values
  del Y['Paul'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.

```

In [291]:
x = {}
y = dict()

type(x) == type(y) # Just to check the two way to create a dictionnary

True

In [292]:
x = {} # Creates an empty dictionary. You could also use x = dict()
print(x)
print("=========================================\n")

{}
=========================================

In [293]:
x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
print(x)
print("=========================================\n")

{'name': 'Jean'}
=========================================

In [294]:
x.keys
print(x.keys)

x.values
print(x.values)

<built-in method keys of dict object at 0x7f7434b05280>
<built-in method values of dict object at 0x7f7434b05280>

In [295]:
x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
print(x)
print("=========================================\n")

{'name': 'Jean', 'biometrics': [25, 70, 1.75]}
=========================================

In [296]:
x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
print(x)
print("=========================================\n")

{'name': 'Jean', 'biometrics': [30, 70, 1.8]}
=========================================

In [297]:
x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
print(x)
print("=========================================\n")

{'name': 'Jean', 'biometrics': [30, 70, 1.8]}
=========================================

In [298]:
x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)
print(x)
print("=========================================\n")

{'name': 'Jean', 'biometrics': [2, 70, 1.8]}
=========================================

In [299]:
Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(Y)
print("=========================================\n")

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}
=========================================

In [300]:
del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values

In [301]:
print(Y)

{'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [302]:
del Y['Paul']

In [303]:
print(Y)

{'Pierre': [35, 75, 1.65]}

In [304]:
del Y['Pierre'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.


print(Y)

{'Pierre': [75, 1.65]}

- To rename a key in a dictionary, you use the `pop()` function as defined in the following example:

```python
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
print(x)

```

In [305]:
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(x)

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [306]:
x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
x["paull"]=x.pop("Paul")
print(x)

{'Pierre': [35, 75, 1.65], 'John': [25, 70, 1.75], 'paull': [30, 65, 1.8]}

### Mydict:

In [307]:
Aims_student=dict()
Aims_student["Name"]="Abdelhakim Moustapha Mahamat"
Aims_student["Identifiant"]= 235
Aims_student["Home_Country"]="Chad"
print(Aims_student)

{'Name': 'Abdelhakim Moustapha Mahamat', 'Identifiant': 235, 'Home_Country': 'Chad'}

In [308]:
Aims_student["Mark"]={"PPS1":11.5,"PPS2":15}
print(Aims_student)

{'Name': 'Abdelhakim Moustapha Mahamat', 'Identifiant': 235, 'Home_Country': 'Chad', 'Mark': {'PPS1': 11.5, 'PPS2': 15}}

In [309]:
Aims_student["Mark"]["MPS"]= 45
print(Aims_student)

{'Name': 'Abdelhakim Moustapha Mahamat', 'Identifiant': 235, 'Home_Country': 'Chad', 'Mark': {'PPS1': 11.5, 'PPS2': 15, 'MPS': 45}}

In [310]:
print(dir(dict)) # All Function we can use with this 
len(dir(dict))   # We have 45 Functions

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

45

In [311]:
print(help(Aims_student.get))

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

None

## Further reading

0. [Programming with Python](python.aims.ac.za); [Section 20](https://python.aims.ac.za/pages/list_and_list_comprehension.html)
1. [Programming with Python](python.aims.ac.za); [Section 21](https://python.aims.ac.za/pages/cp_mutable_objs.html)